

.lead-page-section{
    padding: 140px 0 146px;
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    
    .lead-page-section-content{
        background-color: rgba($white, 0.7);
    }
    
    
    
}
